# Set default behavior to automatically normalize line endings.
* text=auto

# Archives LFS
*.7z filter=lfs diff=lfs merge=lfs -text
*.br filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Documents LFS
*.pdf filter=lfs diff=lfs merge=lfs -text

# Images LFS
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text

# Fonts LFS
*.woff2 filter=lfs diff=lfs merge=lfs -text

# Other LFS
*.exe filter=lfs diff=lfs merge=lfs -text

